@font-face {
    font-family: 'Spacia';
    src: url('Spacia-Regular.eot');
    src: url('Spacia-Regular.eot?#iefix') format('embedded-opentype'),
        url('Spacia-Regular.woff2') format('woff2'),
        url('Spacia-Regular.woff') format('woff'),
        url('Spacia-Regular.svg#Spacia-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spacia';
    src: url('Spacia-LightItalic.eot');
    src: url('Spacia-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Spacia-LightItalic.woff2') format('woff2'),
        url('Spacia-LightItalic.woff') format('woff'),
        url('Spacia-LightItalic.svg#Spacia-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spacia';
    src: url('Spacia-ExtraBoldItalic.eot');
    src: url('Spacia-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Spacia-ExtraBoldItalic.woff2') format('woff2'),
        url('Spacia-ExtraBoldItalic.woff') format('woff'),
        url('Spacia-ExtraBoldItalic.svg#Spacia-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spacia';
    src: url('Spacia-ExtraBold.eot');
    src: url('Spacia-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Spacia-ExtraBold.woff2') format('woff2'),
        url('Spacia-ExtraBold.woff') format('woff'),
        url('Spacia-ExtraBold.svg#Spacia-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spacia';
    src: url('Spacia-BoldItalic.eot');
    src: url('Spacia-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Spacia-BoldItalic.woff2') format('woff2'),
        url('Spacia-BoldItalic.woff') format('woff'),
        url('Spacia-BoldItalic.svg#Spacia-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spacia';
    src: url('Spacia-Heavy.eot');
    src: url('Spacia-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Spacia-Heavy.woff2') format('woff2'),
        url('Spacia-Heavy.woff') format('woff'),
        url('Spacia-Heavy.svg#Spacia-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spacia';
    src: url('Spacia-HeavyItalic.eot');
    src: url('Spacia-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('Spacia-HeavyItalic.woff2') format('woff2'),
        url('Spacia-HeavyItalic.woff') format('woff'),
        url('Spacia-HeavyItalic.svg#Spacia-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spacia';
    src: url('Spacia-Bold.eot');
    src: url('Spacia-Bold.eot?#iefix') format('embedded-opentype'),
        url('Spacia-Bold.woff2') format('woff2'),
        url('Spacia-Bold.woff') format('woff'),
        url('Spacia-Bold.svg#Spacia-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spacia';
    src: url('Spacia-Italic.eot');
    src: url('Spacia-Italic.eot?#iefix') format('embedded-opentype'),
        url('Spacia-Italic.woff2') format('woff2'),
        url('Spacia-Italic.woff') format('woff'),
        url('Spacia-Italic.svg#Spacia-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spacia';
    src: url('Spacia-Light.eot');
    src: url('Spacia-Light.eot?#iefix') format('embedded-opentype'),
        url('Spacia-Light.woff2') format('woff2'),
        url('Spacia-Light.woff') format('woff'),
        url('Spacia-Light.svg#Spacia-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

